<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img 	width="25" src="../../assets/IMAGENES/LOGO/vidasimple.png">  Vida Simple, tu mejor opción
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"><img 	width="25" src="../../assets/IMAGENES/LOGO/logo simplificado.jpeg">  BIENVENIDO A ANTOJITOS MONTERREY </ion-title>
    </ion-toolbar>
  </ion-header>

<p ALIGN="center"><img 	 src="../../assets/IMAGENES/LOGO/logooo.jpg" alt="logo"></p>

<h5 ALIGN="center">
  Las mejores recomenadaciones de restaurantes de Monterrey a tu dispocisión
</h5>

  
</ion-content>

